@page "/"
@using Kupri4.KanbanDemo.Data
@using Kupri4.KanbanDemo.Models

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <div class="row">
        @for (var i = 0; i < Board.Columns.Count; i++)
        {
            
            <div class="col">
                
                <div class="column">
                    <div class="column__title">
                        @Board.Columns[i].Title
                    </div>

                    <div class="column__cards list-group" id="column_@i">
                        @if (Board.Columns[i].Cards != null && Board.Columns[i].Cards.Count != 0)
                        {
                            @foreach (var card in Board.Columns[i].Cards)
                            {
                                
                                <div class="card list-group-item" >
                                    <p class="card-header fw-bold">
                                        @card.Title
                                    </p>
                                    <div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @card.Description
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Inject]
    protected IJSRuntime? JSRuntime { get; set; }

    [Parameter]
    public string columnId { get; set; } = "column";

    Board Board => BoardRepository.Board;

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime?.InvokeVoidAsync("onBlazorReady");
    }
}

